.inputCodeField{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.inputCodeField_input{
    width: 99%;
    height: 60px;
    border-radius: 15px;
    border: none;
    margin: 0 0 20px 0;
    padding-left: 20px;
    font-size: 24px;
    color: #52796F;
    font-family: "Inter Thin", serif;
}

.inputCodeField_input:focus{
    outline: none;
}

.inputCodeField_button{
    width: 600px;
    height: 60px;
    border-radius: 25px;
    border: none;
    background: #52796F;
    font-size: 24px;
    color: #ffffff;
    font-family: "Inter Black", serif;
}

.inputCodeField_button:hover{
    cursor: pointer;
    background: rgb(62, 92, 86);
}