.codeMassage{
    background: #84A98C;
    border-radius: 25px;
    width: 100%;
    height: 260px;
}

.codeMassage h3{
    font-size: 48px;
    width: 360px;
    margin: 40px 0 0 10px;
    padding-top: 20px;
    padding-left: 20px;
}

.codeMassage p{
    font-size: 16px;
    /*font-family: "Inter Black", serif;*/
    margin: 20px 0 0 10px;
    padding-left: 20px;
}