main {
    width: 100%;
}

.main_first_line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
    margin-top: 85px;
    margin-bottom: 50px;
}

.main_first_line button {
    width: 240px;
    height: 76px;
    font-size: 24px;
    color: #CAD2C5;
    background: #52796F;
    border: 0;
    border-radius: 25px;
}

.main_first_line button:hover {
    background: rgb(62, 92, 86);
}

.cardsArea{
    margin: 0 0 55px 0;
}