.admin{

}

main{
    display: inline-flex;
    gap: 50px;
    flex-direction: row;
}

.admin header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}


.auth_input{
    margin: auto;
    width: 50%;
    background: #84A98C;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px
;
}

.auth_input input{
    width: 300px;
    height: 60px;
    border-radius: 15px;
    border: none;
    margin: 20px 0 20px 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.auth_input button{
    background: #CAD2C5;
    border-radius: 15px;
    border: none;
    width: 320px;
    height: 60px;
    font-size: 24px;
    margin-bottom: 20px;
    color: #52796F;
    font-family: "Inter Medium", serif;
}

.status_work_area{
    display: flex;
    flex-direction: column;
}

.auth_input button:hover{
    background: rgba(202, 210, 197, 0.85);
    cursor: pointer;
}

.status{
    /*width: 100%;*/
    display: inline-flex;
    flex-wrap: wrap;
    gap: 25px;
    background: white;
    border-radius: 25px;
    padding: 20px 30px;
}

.status_info{
    display: flex;
    flex-direction: column;
}

.status_info span{
    font-size: 40px;
    font-family: "Inter Black", serif;
    color: #52796F;
    margin-bottom: 10px;
}

.status_info p {
    font-size: 16px;
    font-family: "Inter Medium", serif;
    color: #52796F;
}

.generateReportButton{
    margin: 20px 0;
    background: #52796F;
    border: none;
    font-size: 20px;
    color: #ffffff;
    font-family: "Inter Regular", serif;
    border-radius: 25px;
    width: 250px;
    height: 60px;
}

.generateReportButton:hover{
    cursor: pointer;
    background: #84A98C;
}

