.block_error{
    width: 100%;
    height: 150px;
    background: #84A98C;
    border-radius: 25px;
    padding-top: 5px;
    margin-bottom: 20px;
}

.block_error h2{
    margin: 20px 0 0 20px;
    font-size: 48px;
}

.block_error span{
    margin: 20px 0 0 20px;
    font-size: 24px;
}

.bnt_back{
    margin: 0 0 20px 0;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #52796F;
    font-family: "Inter Thin", serif;
}

.bnt_back:hover{
    cursor: pointer;
    color: #000000;
}